
h1{
  font-size: 1.3rem;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}




#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}


.relevante{
    color: #b75215;
}

.global{
    width: 100%;
    background: #ffffff;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }



.conteudo{
    display: inline-block;
    max-width: 800px;
    width: 800px;
    padding: 25px;
    margin:  0 15px 0 15px;

   
    }


h2{
      display: block;
      font-weight: bold;
      font-size: 36px;
      color: black;
      height: auto;
      margin-bottom: 15px;
  }
      
  h2::after{
      content: '';
      width: 140px;
      height: 2px;
      margin: auto;
      background: currentColor;
      display: block;
  }

  
  h3{
    display: inline-block;
    position: center;
    top:20%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    height: auto;
    margin-bottom: 15px;
}
h3::after{
  content: '';
  width: 60px;
  height: 2px;
  margin: auto;
  background: currentColor;
  display: block;
}











footer{
    display:inline-block;
    background-color: #2F3337;
    height: 70px; 
    width:100%;  
    color: white;
}
.text_rod{
    display: inline-block;
    max-width: 1000px;
    width: 800px;
    padding: 25px 30px 10px 30px;
    margin:  0 15px 0 15px;
}

