@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body{
    background-color: #cfd4d8;
    font-style: normal;
    color: #111;
}
header{
    display:block;
    height: 80px;   
    width: 100%;
    background-color: #2F3337;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');




.titulo{
    color: white;
    position: absolute;
    top: 20px;
    left: 165px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #b75215;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #b75215;
    color: #fff;
}


.parallax {
    background-image: url("https://raw.githubusercontent.com/Arthur0019/Portfolio/main/banner.webp");
    min-height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.title{
  padding-top: 130px;
  

}
 

.global{
    width: 100vw;
    background: #111;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }



.conteudo{
    font-family: 'Raleway', sans-serif;
    width: 100%;
  max-width: 800px;
  padding: 12.5em 0 0;
  margin: 0 auto;
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
    display: inline-block;
    max-width: 800px;
    width: 800px;
    padding: 25px;
    margin:  0 15px 0 15px;
    background-color: rgb(255, 255, 255);
    box-shadow:  0px 0px 6px 0px rgb(255 255 255 / 30%);
    }

    h2{
        position: absolute;
        left: 47.5%;
        top: 250px;
        font-weight: bold;
        font-size: 36px;
        color: white;
        text-align: center;
        height: auto;
        margin-bottom: 15px;
    }
    
    h2::after{
        content: '';
        width: 75px;
        height: 2px;
        margin: auto;
        background: currentColor;
        display: block;
    }  

    h3{
        font-weight: bold;
        font-size: 36px;
        color: rgb(0, 0, 0);
        text-align: center;
        height: auto;
        margin-bottom: 15px;
    }
    
    h3::after{
        content: '';
        width: 75px;
        height: 2px;
        margin: auto;
        background: currentColor;
        display: block;
    }  


p{ 
    font-size: 14px;
    text-align:justify;
}
img.cidade{
    margin-top: 25px;
    width: 400px;
}
.braganca p{
    font-size: 10px;
    display: inline-block;
    max-width: 400px;
}
