
html{
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .15em;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
a { color: inherit; } 

:root {
    --primary: #111;
}


.titulo{
    font-size: 1.6rem;
    color: white;
    position: absolute;
    top: 20px;
    left: 165px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

header{
  display:block;
  height: 80px;   
  width: 100%;
 
}



#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #b75215;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #b75215;
    color: #fff;
}





.banner-top{
  height: 1000px;
  width: 100%;
display: block;

}


@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}










.conteudo{
  display: inline-block;
  max-width: 800px;
  width: 800px;
  padding: 25px;
  margin:  0 15px 0 15px;

 
  }

:root {
    
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);

}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
}
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 10px 0px 15px 25px;
  max-width: 1345px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content { 
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
  width: 400px;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(174, 174, 175);
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%), 0 10px 5px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 10%);
}
@media (min-width: 600px) {
  .card {
    height: 250px;
    background: border-box;
  
  }
}
.card:before {
  content: '';
  position: relative;
  top: 10px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url("css.png");
  
}
.card:nth-child(2):before {
  background-image: url("html.png");
}
.card:nth-child(3):before {
  background-image: url("js.png");
}
.card:nth-child(4):before {
  background-image: url("excel.webp");
}
.card:nth-child(5):before {
  background-image: url("python.png");
}
.card:nth-child(6):before {
  background-image: url("php.png");
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 2px;
}
.title2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-style: italic;
  line-height: 1.35;
}

.scroll {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  bottom: 100px;
  position: absolute;
  z-index: 1;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  font-size: 11px;
}
.scroll svg {
  position: absolute;
  margin-top: 10px;
  left: 49.5%;
  width: 18px;
  height: 18px;
  animation: scroll 0.95s ease-in-out alternate infinite;
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1;}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}


@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title2) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .card:hover, .card:focus-within {
    align-items: center;
  }
  .card:hover:before, .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after, .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content, .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title2), .card:focus-within .content > *:not(.title2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title2) {
    transition-duration: 0s;
  }
}











footer{
  display:inline-block;
  background-color: #2F3337;
  height: 70px; 
  width:100%;  
  color: white;
}
footer.contact{
  position: absolute;
  bottom: 0px;
}

.text_rod{
  display: inline-block;
  max-width: 1000px;
  width: 800px;
  padding: 25px 30px 10px 30px;
  margin:  0 15px 0 15px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}



.wrapper {
  right: 30px;
  position: absolute;
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #000000;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #DD1BD9;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #22D442;
  color: #ffffff;
}
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0A66C2;
  color: #ffffff;
}
